body {
  font-family: @font-family;
  margin: 0;
  padding: 0;
  background-color: @color-edit;
}

main {
  margin: 0 auto;
}

@font-face {
  font-family: "PT Sans";
  src:
    local("PT Sans"),
    url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src:
    local("PT Sans"),
    url('../fonts/ptsansbold.woff') format('woff');
}
