@color-blue-light: #81b3d2;
@color-border-blue-dark: #678fa8;
@color-border-blue-light: #9ac2db;
@color-gray: #d6d6d6;
@color-gray-light: #eeeeee;
@color-gray-lightest: #fefefe;
@color-white: #ffffff;
@color-red: #ff5c5c;
@font-family:  "PT Sans", Arial, sans-serif;
@mobile-width-only: ~"(max-width: 767px)";
@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1200px)";
