.advantage__header {
  background-color: @color-gray-light;
  margin: 0;
  padding: 10px;
}

.advantage__header--dark-bg {
  background-color: @color-blue-light;
  color: @color-white;
}

.advantage__header--border {
  border-bottom: 1px @color-gray solid;
}

.advantage__number:before {
  content: "— ";
  white-space: pre-wrap;
}

.advantage__number:after {
  content: " —";
  white-space: pre-wrap;
}

.advantage__title {
  .font-setting-uppercase(18px);
}

.advantage__number {
  .font-setting-uppercase(14px, normal);
}

.advantage__text {
  .font-setting-uppercase(14px, normal);
}
