.contact {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 8px;
  @media @tablet-width {
    padding-top: 18px;
    padding-bottom: 0;
  }
  @media @desktop-width {
    flex-direction: row;
    padding-top: 30px;
    align-items: flex-end;
  }
}

