.form__error-phone {
  color: @color-red;
  text-transform: none;
}

.form__button {
  background-color: @color-blue-light;
  color: @color-white;
  .font-setting-uppercase(21px);
  font-family: @font-family;
}

.form__title {
  .font-setting-uppercase(18px);
}

.form__label {
  .font-setting-uppercase(14px, normal);
}

.form__value {
  .font-setting-uppercase(18px);
  text-transform: none;
}

.radio {
  .font-setting-uppercase(18px);
  text-transform: none;
}

.checkbox {
  .font-setting-uppercase(18px);
  text-transform: none;
}

.form__description {
  .font-setting-uppercase(18px);
  text-transform: none;
}
