// работа Меню в мобильной версии реализована без использования JavaScript,
// поэтому по умолчанию при загрузки страницы меню закрыто
// во-первых, так остается больше места для контента на мобильном телефоне
// во-вторых, это более привычный сценарий работы на телефоне

.main-nav {
  background-color: @color-blue-light;
  min-height: 224px;
  margin: 0 auto;
  @media @tablet-width {
    min-height: 52px;
    background-color: @color-white;
  }
  @media @desktop-width {
  }
}

.main-nav__toggle {
  display: none;
}

.main-nav__toggle-label {
  display: none;
}

@media @mobile-width-only {
  .main-nav {
    display: none;
  }

  .main-nav__toggle:checked ~ .main-nav {
    display: block;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__toggle-label {
    display: block;
    width: 40px;
    height: 40px;

    z-index: 10;
    position: absolute;
    top: 8px;
    right: 0;
  }

  .main-nav__toggle-label::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;

    width: 20px;
    height: 4px;

    background-color: @color-blue-light;
    box-shadow: 0 8px 0 0 @color-blue-light,
    0 16px 0 0 @color-blue-light;
    transform: rotate(0deg);
  }

  .main-nav__toggle-label:after {
    display: none;
  }

  .main-nav__toggle:checked ~ .main-nav__toggle-label:before,
  .main-nav__toggle:checked ~ .main-nav__toggle-label:after {
    content: "";
    position: absolute;
    display: block;
    top: 19px;
    left: 6px;
    width: 28px;
    height: 4px;
    background-color: @color-white;
    box-shadow: none;
  }

  .main-nav__toggle:checked ~ .main-nav__toggle-label::before {
    transform: rotate(45deg);
  }

  .main-nav__toggle:checked ~ .main-nav__toggle-label::after {
    transform: rotate(-45deg);
  }

}

.main-nav__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  @media @tablet-width {
    flex-direction: row;
  }
}

.main-nav__item {
  @media @tablet-width {
    width: 20%;
  }
}

.main-nav__item:nth-child(3) {
  @media @tablet-width {
    margin-left: auto;
  }
}

.main-nav__url {
  display: block;
  padding-top: 15px;
  padding-bottom: 16px;
  color: @color-white;
  font-family: @font-family;
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid @color-border-blue-light;
  border-bottom: 1px solid @color-border-blue-dark;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  @media @tablet-width {
    color: black;
    font-size: 14px;
    border-top: none;
    border-bottom: none;
    padding-top: 17px;
  }
}

.main-nav__item--active .main-nav__url {
  @media @tablet-width {
    color: @color-menu-active;
  }
}

.main-nav__url:hover {
  background-color: @color-btn-hvr;
  @media @tablet-width {
    background-color: @color-white;
    color: @color-blue-light;
  }
}

.main-nav__item--active .main-nav__url:hover {
  @media @tablet-width {
    color: @color-menu-active-hvr;
  }
}

.main-nav__url:active {
  background-color: @color-btn-down;
  color: @color-btn-down-text;
  @media @tablet-width {
    background-color: @color-white;
    color: @color-menu-down;
  }
}

.main-nav__item--active .main-nav__url:active {
  @media @tablet-width {
    color: @color-menu-active-down;
  }
}


