.page-header {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  position: relative;
  @media @tablet-width {
    padding-bottom: 50px;
  }
}

.page-header--other {
  padding: 0;
  padding-bottom: 18px;
  @media @tablet-width {
    padding-bottom: 68px;
  }
  @media @desktop-width {
    padding-bottom: 55px;
  }
}

.page-header__wrapper {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  position: relative;
  @media @tablet-width {
    position: static;
  }
  @media @desktop-width {
  }
}

.page-header--other .page-header__wrapper {
  @media @tablet-width {
    margin-top: 5px;
  }
  @media @desktop-width {
  }
}

.page-header__logo {
  background-repeat: no-repeat;
  background-image: url("../img/logo-sedona-mobile.svg");
  background-position: center top;
  background-size: auto;
  width: 187px;
  height: 97px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  @media @tablet-width {
    background-image: url("../img/logo-sedona-tablet.svg");
  }
  @media @desktop-width {
    background-image: url("../img/logo-sedona-desktop.svg");
  }
}

.page-header__logo-back {
  margin: 0 auto;
  padding: 0;
  background-repeat: no-repeat;
  background-image:
    url("../img/text-sedona-index.svg"),
    url("../img/bg-back-mobile.jpg");
  background-position:
    center 90px,
    center 0;
  background-size:
    282px,
    cover;
  min-height: 390px;
  width: 100%;

  @media @retina {
    background-image:
      url("../img/text-sedona-index.svg"),
      url("../img/bg-back-mobile@2x.jpg");
  }
  @media @tablet-width {
    min-height: 520px;
    background-image:
      url("../img/text-sedona-index.svg"),
      url("../img/bg-back-desktop.jpg");
    background-position:
      center 82px,
      center 6px;
    background-size:
      458px,
      cover;
    @media @retina {
      background-image:
        url("../img/text-sedona-index.svg"),
        url("../img/bg-back-desktop@2x.jpg");
    }
  }

}

.page-header--other .page-header__logo-back {
  background-image:
    url("../img/text-sedona.svg"),
    url("../img/bg-back-mobile.jpg");
  background-position:
    center 50px,
    center -226px;
  background-size:
    235px,
    768px;
  min-height: 158px;
  width: 100%;
  margin: 0 auto;
  @media @retina {
    background-image:
      url("../img/text-sedona-index.svg"),
      url("../img/bg-back-mobile@2x.jpg");
  }
  @media @tablet-width {
    min-height: 290px;
    background-image:
      url("../img/text-sedona.svg"),
      url("../img/bg-back-desktop.jpg");
    background-position:
      center 93px,
      center -230px;
    background-size:
      466px,
      1200px;
    @media @retina {
      background-image:
        url("../img/text-sedona-index.svg"),
        url("../img/bg-back-desktop@2x.jpg");
    }
  }
  @media @desktop-width {
    min-height: 302px;
    background-position: center 103px,
      center -230px;
  }
}

.page-header__title {
  .font-setting-uppercase(18px);
  padding: 0;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
  margin-top: 38px;
  text-align: center;
  @media @tablet-width {
    .font-setting-uppercase(21px);
    margin-top: 52px;
    padding-left: 155px;
    padding-right: 155px;
    line-height: 1.2;
  }
  @media @desktop-width {
    padding-left: 380px;
    padding-right: 380px;
  }
}

.page-header--other .page-header__title {
  @media @tablet-width {
    font-size: 30px;
    margin-top: 68px;
    letter-spacing: 0.5px;
    padding-left: 164px;
    padding-right: 164px;
  }
  @media @desktop-width {
    margin-top: 105px;
  }
}

.page-header__text {
  .font-setting-uppercase(14px, normal);
  line-height: 1.8;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 28px;
  text-align: center;
  @media @tablet-width {
    margin-top: 30px;
    margin-bottom: 0;
    padding-left: 130px;
    padding-right: 130px;
  }
  @media @desktop-width {
    margin-bottom: 0;
  }
}

.page-header--other .page-header__text {
  line-height: 1.7;
  margin-bottom: 0;
  padding-left: 24px; //photo 20 small
  padding-right: 24px;
  @media @tablet-width {
  }
  @media @desktop-width {
    line-height: 1.8;
    padding-left: 380px;
    padding-right: 380px;
    margin-top: 26px;
  }
}

.page-header__triangle {
  margin: 0;
  border: none;
  height: 17px;
  background: @color-blue-light;
  background-image: linear-gradient(
    to top right,
    transparent 50%,
    white 50%
  ),
  linear-gradient(
    to top left,
    transparent 50%,
    white 50%
  );
  background-size: 50.5% 100.5%;
  background-repeat: no-repeat;
  background-position: 0 0, 100% 0;
  @media @tablet-width {
    display: none;
  }
}

.page-header__head-line {
  height: 56px;
  @media @tablet-width {
    display: none;
  }
}

@media @mobile-width-only {

  .page-header--main-nav-closed .main-nav {
    display: none;
  }

  .page-header__main-nav-toggle {
    z-index: 10;
    position: absolute;
    top: 17px;
    right: 19px;
    background-repeat: no-repeat;
    background-image: url("../img/icon-cross.svg");
    height: 22px;
    width: 24px;
  }

  .page-header--main-nav-closed .page-header__main-nav-toggle {
    background-image: url("../img/icon-menu.svg");
  }
}
