.page-header {
  margin: 0px;
}

.page-header__title {
  .font-setting-uppercase(18px);
  min-height: 86px;
  padding: 38px 20px 10px 20px;
  width: 260px;
  margin: 0 auto;
  text-align: center;
  @media @tablet-widths {
    .font-setting-uppercase(21px);
    width: 562px;
    padding-top: 48px;
    line-height: 1.2;
    min-height: 50px;
  }
}

.page-header__text {
  .font-setting-uppercase(14px, normal);
  line-height: 1.9;
  min-height: 92px;
  padding: 10px 20px 0px 20px;
  width: 260px;
  margin: 0 auto;
  text-align: center;
  @media @tablet-widths {
    width: 500px;
    padding-top: 20px;
    min-height: 76px;
  }
}
