.radio {
  .font-setting-uppercase(18px);
  text-transform: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  @media @tablet-width {
    padding-top: 40px;
  }
}

.radio__wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.radio__label {
  margin: 0;
  margin-left: 22px;
  padding: 0;
}

.radio__value {
  width: 55px;
  height: 55px;
  margin: 0;
  margin-top: 14px;
  margin-left: 0px;
  @media @tablet-width {
    margin-top: 24px;
  }
}
