.search-hotel {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.search-hotel__title {
  .font-setting-uppercase(21px);
  padding: 0;
  margin: 0;
  margin-top: 26px;
  @media @tablet-width {
    .font-setting-uppercase(30px);
    margin-top: 44px;
  }
  @media @desktop-width {
    margin-top: 48px;
  }
}

.search-hotel__text {
  .font-setting-uppercase(14px, normal);
  line-height: 1.75;
  padding: 0;
  padding-left: 28px;
  padding-right: 28px;
  margin: 0;
  margin-top: 17px;
  @media @tablet-width {
    padding-left: 160px;
    padding-right: 160px;
    margin-top: 22px;
  }
  @media @desktop-width {
    padding-left: 385px;
    padding-right: 385px;
  }
}

.search-hotel__button {
  background-color: @color-blue-light;
  color: @color-white;
  .font-setting-uppercase(21px);
  font-family: @font-family;
  width: 280px;
  height: 58px;
  margin: 0;
  margin-top: 34px;
  border: none;
  @media @tablet-width {
    .font-setting-uppercase(21px, normal);
    width: 458px;
    height: 60px;
    margin-top: 40px;
  }
  @media @desktop-width {
    margin-top: 45px;
  }
}

.search-hotel__button:hover {
  background-color: @color-btn-hvr;
}

.search-hotel__button:active {
  background-color: @color-btn-down;
  color: @color-btn-down-text;
}

.search-hotel__map {
  margin-top: 50px;
  @media @tablet-width {
    margin-top: 58px;
  }
  @media @desktop-width {
    margin-top: 65px;
  }
}
