.search-hotel__button {
  background-color: @color-blue-light;
  color: @color-white;
  .font-setting-uppercase(21px);
  font-family: @font-family;
}

.search-hotel__title {
  .font-setting-uppercase(21px);
}

.search-hotel__text {
  .font-setting-uppercase(14px, normal);
}
